body{
    background: linear-gradient(to bottom right, rgb(137, 23, 202) , rgb(7, 158, 196));
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.contenaire{
    background-color: rgba(49, 41, 104, 0.9) ;
    border-radius: 4px;
    width: 70%;
    margin: auto;
}
.contenaire h1 {
    text-align: center;
    color: white;
    font-size: 45px;
}
.inp{
    width: 80%;
    height: 50px;
    border-radius: 4px;
    margin-top: 20px;
    margin-left: 10%;
}